html {
  overflow-y: scroll;
}

body {
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: "微軟正黑體";
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
	text-decoration: none !important;
  display: block;
} 

span {
  vertical-align: baseline;
}

.material-icons {
  vertical-align: bottom;
}

.line-height-lg {
  line-height: 1.5;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}
