.register-items {
  display: flex;
  justify-content: space-around;
  color: $primary;
  padding: 0 15px;
}

.register-content {
  width: 60%;
}

.register-form {
  color: $primary;
  a {
    color: $success;
  }
}

@include mobile {
  .register-items {
    display: block;
  }
  .register-content {
    width: 100%;
  }
  .register-body {
    padding: 0 15px;
  }
  .mail-items input {
    width: 100%;
  }
  .pw-items input {
    width: 100%;
  }
}

.confirm-pw-items {
  margin-top: 12px;
}