<footer class="container bg-secondary">
  <div class="footer-body">
    <div class="footer-items">
      <div class="footer-about">
        <h3 class="footer-title font-lg">關於 六角西餐廳</h3>
        <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar
          lobortis
          nibh lacinia at. </p>
      </div>
      <div class="footer-contact">
        <h3 class="font-lg mb-3 font-weight-bold">聯絡方式</h3>
        <ul>
          <li><span class="material-icons mr-1">
              place
            </span>高雄市中正五路到底</li>
          <li><a href="tel:+886-886-886"><span class="material-icons mr-1">
                phone
              </span>+886 886 886</a></li>
          <li><a href="mailto:service@hexschool.com"><span class="material-icons mr-1">
                mail_outline
              </span>service@hexschool.com</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-icon">
      <h2 class="ft-logo"><a href="">六角西餐廳</a></h2>
      <ul>
        <li>
          <a href=""><i class="fab fa-google-plus-square font-2xl gl-icon"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-twitter-square font-2xl tw-icon"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook-square font-2xl fb-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>