<div class="container">
  <div class="banner bg-position position-relative">
    <div class="navbar bg-dark">
      <h1 class="logo bg-cover">
        <a href="index.html">六角西餐廳</a>
      </h1>
      <ul class="navbar-nav">
        <li>
          <a href="cart.html">點餐</a>
        </li>
        <li>
          <a href="index.html#speciality">特色</a>
        </li>
        <li>
          <a href="index.html#chef-info">主廚</a>
        </li>
        <li>
          <a href="index.html#map">地圖</a>
        </li>
        <li>
          <a href="login.html">登入</a>
        </li>
      </ul>
      <div class="burger-btn">
        <a href="">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>

    <div class="banner-body position-absolute">
      <h2 class="font-2xl">咬一口就無法忘懷的漢堡</h2>
      <p>七夕絕對無法錯過的好滋味
        <br>
        <span class="material-icons">
          restaurant
        </span>六角大漢堡<span class="material-icons">
          restaurant
        </span>
      </p>
    </div>
  </div>
</div>