@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap');

.font {
  &-2xs {
    font-size: 12px;
  }
  &-xs {
    font-size: 14px;
  }
  &-sm {
    font-size: 16px;
  }
  &-md {
    font-size: 20px;
  }
  &-lg {
    font-size: 24px;
  }
  &-xl {
    font-size: 28px;
  }
  &-2xl {
    font-size: 36px;
  }
  &-3xl {
    font-size: 48px;
  }
}
