$primary:       #3D1101 !default;
$secondary:     #EFE9E7 !default;
$success:       #F56C23 !default;
$info:          rgba(250,250,250,0.70) !default;
$light:         rgba(0,0,0,0.35) !default;
$dark:          rgba(0,0,0,0.75) !default;