.fb-icon {
  color: #3A5795;
}

.tw-icon {
  color: #41ABE1;
}

.gl-icon {
  color: #DB4437; 
}

.heart-icon {
  color: #ffffff;
  top: 5px;
  left: 10px;
  cursor: pointer;
}

.search-icon {
  background: $primary;
  color: #ffffff;
  padding: 2.3px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.badge {
  color: #ffffff;
  background: #FF5E45;
  font-size: 14px;
  display: inline-block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  padding-top: 1.5px;
}

.ribbon-title {
  width: 100px;
  height: 100px;
  overflow: hidden;
  top: -5px;
  right: -5px;
}

.ribbon {
  width: 150px;
  background-color: #00CC99;
  top: 28px;
  left: -15px;
  padding: 5px 0;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: rotate(45deg); 
}

.mail-icon, .pw-icon {
  color: rgba(61,17,0,0.50);
  top: 8px;
  left: 8px;
}